{% extends "home.html" %}

{% block title %}Quiz - Quiz App{% endblock %}

{% block content %}
<div class="text-center">
    <h2 class="text-2xl font-semibold mb-4">Choose your quiz difficulty</h2>
    <a href="{% url 'easy_select' %}" class="bg-[#14532d] text-white px-4 py-2 rounded">Easy</a>
    <a href="{% url 'medium_select' %}" class="bg-yellow-600 text-white px-4 py-2 rounded">Medium</a>
    <a href="{% url 'hard_select' %}" class="bg-[#800000] text-white px-4 py-2 rounded">Hard</a>
</div>
{% endblock %}
